.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0;
    margin-top: 10px;
    font-family: 'Helvetica' !important;
}

.btn-social:hover {
    color: #eee;
    font-family: 'Helvetica' !important;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

/*signup css*/


.my-btn{
    width: 100%;
    background-color: #07b108;
    border-color: #07b108;
    color: #fff;
    border-radius: 0;
    font-family: 'Helvetica' !important;
}

.my-btn1{
    width: 50%;
    background-color: #07b108;
    border-color: #07b108;
    color: #fff;
    border-radius: 0;
    margin-top: 10px;
    font-family: 'Helvetica' !important;
}
.my-btn2{
    width: 25%;
    background-color: #07b108;
    border-color: #07b108;
    color: #fff;
    border-radius: 0;
    margin-top: 10px;
    font-family: 'Helvetica' !important;
}

.mtt{

    margin-top: 150px;
}

.grey-bg{

    background-color: rgba(33,68,36,0.15);
}

.word-line-break{

    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    z-index: 10;
}

.text-bold{
    font-weight: 900;
}


.my-heading-text{
    font-family: "Roboto Medium" ;
    color: #3d4852;
    font-size: 35px;
}

.my-heading-text20{
    font-family: "Roboto Medium" ;
    color: #3d4852;
    font-size: 20px;
}

.my-heading-text2 {
    font-family: "Roboto Medium" ;
    color: #3d4852;
    font-size: 22px;
}

.my-heading-text3 {
    font-family: "Montserrat Medium" ;
    color: #3d4852;
    font-size: 18px;
}